{% extends "wagtailadmin/base.html" %}
{% load i18n modeladmin_tags static debug %}

{% block titletag %}{{ view.get_meta_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    {{ view.media.css }}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

    {% if process.buttons %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css">
    {% endif %}

    {% if process.is_orderable %}
    <link rel="stylesheet" href="//cdn.datatables.net/rowreorder/1.2.5/css/rowReorder.dataTables.min.css">
    {% endif %}

{% endblock %}

{% block extra_js %}
    {{ view.media.js }}
    <script src="https://code.jquery.com/jquery-3.4.0.min.js" integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> 
    <script src="//cdn.datatables.net/plug-ins/1.10.19/sorting/datetime-moment.js"></script>
    {% if process.buttons %}
    <script src="//cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    {% endif %}
    {% if process.is_orderable %}
    <script src="//cdn.datatables.net/rowreorder/1.2.5/js/dataTables.rowReorder.min.js"></script>
    {% endif %}
    
    <script>
        var table;
        $(document).ready( function () {
            {% include "includes/table/datatable.config.html" with process=process id="table" only %}
        } );
    </script>
{% endblock %}

{% block content %}
    {% block header %}
        <header class="nice-padding hasform">
            <div class="row header-title">
                <div class="left">
                    <div class="col">
                        {% block h1 %}<h1 {% if view.header_icon %}class="icon icon-{{ view.header_icon }}"{% endif %}>{{ view.get_page_title }}<span></span></h1>{% endblock %}
                    </div>
                </div>
            </div>
        </header>
    {% endblock %}

    {% block content_main %}
        <div>
            <div class="row">
                    <div class="result-list col12">
                        {% block result_list %}
                            <table id="table">
                                {% include "includes/table/table.html" with thead=process.thead object_list=process.template %}
                            </table>
                        {% endblock %}
                    </div>
            </div>
        </div>
    {% endblock %}

{% endblock %}
